<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit note</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-12">
        <form id="note-form" method="post" enctype="multipart/form-data">
            <div class="form-group field-note-title required">
                <label class="control-label" for="note-title">Title</label>
                <input type="text" id="note-title" class="form-control" name="Note[title]" ng-model="element.title">
            </div>                    
            <div class="form-group field-note-author required">
                <label class="control-label" for="note-author">Author</label>
                <input type="text" id="note-author" class="form-control" name="Note[author]" ng-model="element.author">
            </div>
            <div class="form-group field-note-description required">
                <label class="control-label" for="note-description">Description</label>
                <textarea class="form-control" name="Note[description]" rows="4" ng-model="element.description"></textarea>
            </div>
            <button class="btn btn-default btn-xs regular-footer-margin" ng-model="files" ng-file-select ng-file-change="upload($files)">
                Upload image
            </button>
            {{element.image}}
            <img ng-show="element.image" src="http://notes.eugenes.koding.io/{{element.image}}" width="200"/>
        </form>
    </div>
</div>

<div class="row regular-footer-margin">
    <div class="col-lg-6 col-md-12">
        <button ng-show="isNoteEdited" type="submit" class="btn btn-primary pull-left" ng-disabled="!element.title || !element.author || !element.description" ng-click="editNote()">
            Submit
        </button>
        <button ng-show="!isNoteEdited" type="submit" class="btn btn-warning pull-left" disabled>
            <i class="fa fa-gear fa-spin"></i> Submit
        </button>
    </div>
</div>

<div class="row" ng-show="isNoteEditServerError || isNoteEditServerSuccess">
    <div class="col-lg-6 col-md-12">
        <p class="alert alert-danger" ng-show="isNoteEditServerError">
            Server error.
        </p>
        <p class="alert alert-success" ng-show="isNoteEditServerSuccess">
            Note edited.
        </p>
    </div>
</div>
