<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Notes 
            <a href="#/notes/add">
                <button type="button" class="btn btn-primary">Add</button>
            </a>
        </h1>
    </div>
</div>

<div class="row" ng-show="elements.length == 0 || isThereNoElements">
    <div class="col-lg-12">
        <p class="alert alert-info">
            There is no notes.
        </p>
    </div>
</div>

<div class="row" ng-show="isServerError">
    <div class="col-lg-12">
        <server-error-alert></server-error-alert>
    </div>
</div>

<span us-spinner spinner-key="elements-spinner" spinner-start-active="true"></span>

<div ng-show="isElementsLoaded && !isThereNoElements && !isServerError && elements.length > 0">
    <div class="row" ng-show="totalItems > itemsOnPage">
        <div class="col-lg-6">
            <pagination total-items="totalItems" items-per-page="itemsOnPage" ng-model="currentPage" ng-init="currentPage = 1" class="pagination-sm"></pagination>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
                <ul class="notes-list">
                    <li ng-repeat="element in elements | orderBy:predicate:reverse | startFrom:(currentPage-1)*itemsOnPage | limitTo: itemsOnPage">
                        <span>
                            <a href="#/notes/{{element.id}}">{{element.title}} ({{element.author}})</a>
                            <span ng-show="element.image">*</span>
                        </span>
                        <div class="notes-controls">
                            <a href="#/notes/{{element.id}}/edit">
                                <button class="btn btn-primary btn-xs">Edit</button>
                            </a>
                            
                            <button class="btn btn-danger btn-xs" ng-click="deleteNote(element.id, $index)">&times;</button>
                            
                            <a href="<?= Url::toRoute(['csv', 'id' => $note->id]); ?>" target="_blank">
                                <button class="btn btn-primary btn-xs">CSV</button>
                            </a>
                            
                            <button class="btn btn-primary btn-xs">Mail</button>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <pagination ng-show="totalItems > itemsOnPage" total-items="totalItems" items-per-page="itemsOnPage" ng-model="currentPage" ng-init="currentPage = 1" class="pagination-sm"></pagination>
        </div>
    </div>
</div>